{% extends 'layout.html' %}
{% block content %}
<div class="content-wrapper">
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Project /</span> new record</h4>
  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Project Information</h5>
          <small class="text-muted float-end"><a href="{{ url_for('project.project_list') }}"><i class="bx bx-list-ul"></i> Back to list</a></small>
        </div>
        <div class="card-body">
          <form method="post" action="{{ url_for('project.save_new_project') }}">
            <div class="row">
              <div class="col-xs-12 col-md-7">
                    <form>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-name">project name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name" placeholder="project name">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-desc">Project Description</label>
                          <div class="col-sm-10">
                            <textarea id="basic-default-desc" class="form-control" placeholder="project description" aria-label="project description" aria-describedby="basic-icon-default-desc"></textarea>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-contact">Project type</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="contact">
                              <option value="" selected>--select project type--</option>
                              <option value="">Onsite</option>
                              <option value="">Virtual</option>
                              <option value="">Virtual & Onsite</option>
                              <option value="">Email</option>
                            </select>
                            <input type="text" name="address" class="form-control mt-1" placeholder="enter address for onsite project">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="html5-date-input" class="col-md-2 col-form-label">Date</label>
                          <div class="col-md-10">
                            <input class="form-control" type="date" value="2021-06-18" id="html5-date-input">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="html5-date-duration" class="col-md-2 col-form-label">Duration</label>
                          <div class="col-md-10">
                            <input class="form-control" type="date" value="2021-06-18" id="html5-date-duration">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-company">Company</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="client">
                              <option value="" selected>--select client--</option>
                              <option value="">SOAS Technology</option>
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-contact">Contact person</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="contact">
                              <option value="" selected>--select contact persons--</option>
                              <option value="">Soyemi Olanrewaju</option>
                            </select>
                            <div class="btn btn-secondary btn-sm mt-2" style="margin-right: 5px" id="3129" onclick="remove_contact()">
                              <input type="hidden" name="crdt_contact" value="Olanrewaju Soyemi, soyemi.olanrewaju1@gmail.com, sales, 1234567890">
                                Olanrewaju Soyemi
                              <span class="bx bx-user-minus"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-team">Sales Lead</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="team_lead">
                              <option value="" selected>--select team lead--</option>
                              <option value="">Soyemi Olanrewaju</option>
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-team">Sales Team</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="team">
                              <option value="" selected>--select team--</option>
                              <option value="">Soyemi Olanrewaju</option>
                            </select>
                            <div class="btn btn-secondary btn-sm mt-2" style="margin-right: 5px" id="3129" onclick="remove_contact()">
                              <input type="hidden" name="crdt_contact" value="Olanrewaju Soyemi, soyemi.olanrewaju1@gmail.com, sales, 1234567890">
                                Olanrewaju Soyemi
                              <span class="bx bx-user-minus"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-message">Project Comment <small>(optional)</small></label>
                          <div class="col-sm-10">
                            <textarea id="basic-default-comment" class="form-control" placeholder="project comment (optional)" aria-label="project comment (optional)" aria-describedby="basic-icon-default-comment"></textarea>
                          </div>
                        </div>
                        <div class="row justify-content-end">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Create</button>
                          </div>
                        </div>
                      </form>
              </div>
              <div class="col-xs-12 col-md-5">
                <div class="card-body">
                  <div class="">
                    <h5 class="card-title">Project Name: <span id="project_name">France Sales Target</span></h5>

                      <div class="card-subtitle text-muted mb-3"><b>Project type:</b> <br>

                        <span id="project_type">Onsite</span></div>

                      <div class="card-subtitle text-muted mb-3"><b>Client:</b> <br>

                        <span id="client">SOAS Technology</span></div>

                      <div class="card-subtitle text-muted mb-3"><b>Contact person(s):</b> <br>

                        <span id="contact_person">Soyemi Olanrewaju</span></div>

                      <div class="card-subtitle text-muted mb-3"><b>Sales Lead:</b> <br>

                        <span id="sales_lead">Atanda Samuel</span></div>

                      <div class="card-subtitle text-muted mb-3"><b>Sales Team (s):</b> <br>

                        <span id="sales_team">Bello Rasheed, Taiwo Ishola</span></div>

                      <div class="card-subtitle text-muted mb-3"><b>Project comment:</b> <br>

                        <span id="project_comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua.</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="content-backdrop fade"></div>
</div>
{% endblock %}


{% block scripts %}
  <script type="text/javascript">
    $('.add_contact').click(function () {
      $('#add_contact_modal').modal('show')
    });

    const rand = function(){
      return Math.floor((Math.random() * 10000) + 1 )
    }

    const remove_contact = function () {
      id = $(this).attr('id')
      console.log(id)
      $('#'+id).remove()
    }


    const addContact = function (){
      id = rand()

      name = $('#basic-icon-default-cname').val()
      email = $('#basic-icon-default-cemail').val()
      position = $('#basic-icon-default-cposition').val()
      number = $('#basic-icon-default-cphone').val()

      crdt = `<div class="btn btn-secondary btn-sm" style="margin-right: 5px" id="`+ id +`" onclick="remove_contact()">
                <input type="hidden" name="crdt_contact" value="`+ name +', '+ email +', '+ position +', '+ number +`">
                  `+ name +`
                <span class="bx bx-user-minus"></span>
              </div>`

      if (name != '' || email != '' || position != '' || number != '') {
        document.getElementById('error_alert').style.display = 'none';

        $('#crtdContact').append(crdt)
        
        name = $('#basic-icon-default-cname').val('')
        email = $('#basic-icon-default-cemail').val('')
        position = $('#basic-icon-default-cposition').val('')
        number = $('#basic-icon-default-cphone').val('')

        $('#add_contact_modal').modal('hide')

      }else{
        document.getElementById('error_alert').style.display = 'block';
      }
    }
  </script>
{% endblock %}

{% block modals %}
  <div class="modal fade" id="add_contact_modal" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Add contact person</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="basic-icon-default-cname">Name <span>*</span></label>
              <div class="col-sm-9">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-cname2" class="input-group-text"><i class="bx bx-user"></i></span>
                  <input type="text" id="basic-icon-default-cname" class="form-control" value="" placeholder="soyemi samuel" aria-label="soyemi samuel" aria-describedby="basic-icon-default-cname2">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="basic-icon-default-cemail">Email <span>*</span></label>
              <div class="col-sm-9">
                <div class="input-group input-group-merge">
                  <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                  <input type="text" id="basic-icon-default-cemail" class="form-control" placeholder="soyemi.olanrewaju" aria-label="soyemi.olanrewaju" aria-describedby="basic-icon-default-cemail2">
                  <span id="basic-icon-default-cemail2" class="input-group-text">@example.com</span>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="basic-icon-default-cposition">Position <span>*</span></label>
              <div class="col-sm-9">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-cposition2" class="input-group-text"><i class="bx bxs-user-badge"></i></span>
                  <input type="text" id="basic-icon-default-cposition" class="form-control" value="" placeholder="sales manager" aria-label="sales manager" aria-describedby="basic-icon-default-cposition2">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-3 form-label" for="basic-icon-default-cphone">Phone No <span>*</span></label>
              <div class="col-sm-9">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-cphone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                  <input type="text" id="basic-icon-default-cphone" class="form-control phone-mask" placeholder="658 799 8941" aria-label="658 799 8941" aria-describedby="basic-icon-default-cphone2">
                </div>
              </div>
            </div>
            <div class="row mb-3" id="error_alert" style="display: none;">
              <div class="col-sm-12">
                <div class="alert alert-primary" role="alert">All fields required!</div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="addContact()">Add</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}