{% extends 'layout.html' %}
{% block content %}
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Project / Actionable /</span> Task list</h4>
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <table class="table">
                          <thead>
                            <tr>
                              <th>Project</th>
                              <th>Task Assign</th>
                              <th>Assign Date</th>
                              <th>Assigned By</th>
                              <th>Status</th>
                              <!-- <th>Project status</th> -->
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody class="table-border-bottom-0">
                            {% if det %}
                              {% for x in det.data %}
                              <tr>
                                <td><strong><a href="{{ url_for('project.project_details', id=x.id) }}">{{ x.project_name }}</a></strong></td>
                                <td>{{ x.actionable_task }}</td>
                                <td>{{ x.assign_date | convert_date_time }}</td>
                                <td>
                                  {% set assnby = x.assign_by | get_user_profile %}
                                  {{ assnby.data.fullname }}
                                </td>
                                <td>
                                  {% if x.status | lower == 'assigned' %}
                                    {% set color = 'secondary' %}
                                  {% elif x.status | lower == 'completed' %}
                                    {% set color = 'success' %}
                                  {% elif x.status | lower == 'in-progress' %}
                                    {% set color = 'primary' %}
                                  {% elif x.status | lower == 'unfinished' %}
                                    {% set color = 'danger' %}
                                  {% elif x.status | lower == 'overdue' %}
                                    {% set color = 'warning' %}
                                  {% endif %}
                                  <span class="badge bg-label-{{ color }}">{{ x.status}}</span>
                                  
                                </td>
                                <!-- <td>
                                  {% if x.project_status | lower == 'ongoing' %}
                                    {% set color = 'primary' %}
                                  {% elif x.project_status | lower == 'completed' %}
                                    {% set color = 'success' %}
                                  {% elif x.project_status | lower == 'pending' %}
                                    {% set color = 'secondary' %}
                                  {% elif x.project_status | lower == 'terminated' %}
                                    {% set color = 'danger' %}
                                  {% endif %}
                                  <span class="badge bg-label-{{ color }}">{{ x.project_status }}</span>
                                </td> -->
                                <td>
                                  <a href="{{ url_for('project.project_actionable_info', taskid=x.actionable_id, project_item_id=x.project_item_id) }}" class="btn btn-primary btn-sm"><i class="bx bx-folder-open"></i></a>
                                  {% set count_feedback = x.actionable_id | count_actionable_comment %}
                                  
                                  {% if count_feedback.data.count | int != 0 %}
                                  <small><i class="bx bx-comment-dots"></i> {{ count_feedback.data.count | int }}</small>
                                  {% endif %}
                                </td>
                              </tr>

                              {% endfor %}
                            {% endif %}
                            
                          </tbody>
                        </table>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
{% endblock %}



