{% extends 'layout.html' %}
{% block content %}
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">projects / Sales /</span> list</h4>
      
              <div class="row">
                <div class="col-xl-12 mb-4">
                  <a href="{{ url_for('project.new_project') }}" class="btn btn-primary btn-sm"><i class="menu-icon tf-icons bx bx-plus"></i> Add projects</a>
                </div>
                <div class="col-xl-12">
                  <div class="nav-align-top mb-4">
                    <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
                      {% if status %}
                        {% for st in status %}
                          {% if loop.index == 1 %}
                            {% set active = 'active' %}
                          {% endif %}
                          {% if st | lower == 'ongoing'%}
                            {% set icon = 'bxs-cog' %}
                          {% elif st | lower == 'completed'%}
                            {% set icon = 'bxs-check-circle' %}
                          {% elif st | lower == 'pending'%}
                            {% set icon = 'bxs-cabinet' %}
                          {% elif st | lower == 'terminated'%}
                            {% set icon = 'bxs-trash-alt' %}
                          {% endif %}
                          <li class="nav-item">
                            <button type="button" class="nav-link {{active}}" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justified-{{st}}" aria-controls="navs-pills-justified-home" aria-selected="true">
                              <i class="tf-icons bx {{icon}}"></i> {{ st }}
                                {% set cnt = 0 %} 
                                {% if projects.data | length > 0 %}
                                  {% for x in projects.data %}
                                    {% if st | lower == x.status %}
                                      {% set cnt = cnt + 1 %}
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                                <!-- use the global variable -->
                              <!-- <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-info">{{ cnt }}</span> -->
                            </button>
                          </li>
                        {% endfor %}
                      {% endif %}
                    </ul>
                    <div class="tab-content">   
                      <!-- pending projects -->
                      
                      <!-- end pending projects -->
                      {% if status %}
                        {% for st in status %}
                          {% if loop.index == 1 %}
                            {% set active = 'active' %}
                            {% set show = 'show' %}
                          {% endif %}
                          {% if st | lower == 'ongoing'%}
                            {% set icon = 'bxs-cog' %}
                          {% elif st | lower == 'completed'%}
                            {% set icon = 'bxs-check-circle' %}
                          {% elif st | lower == 'pending'%}
                            {% set icon = 'bxs-cabinet' %}
                          {% elif st | lower == 'terminated'%}
                            {% set icon = 'bxs-trash-alt' %}
                          {% endif %}
                          
                          <div class="tab-pane fade {{ active }} {{ show }}" id="navs-pills-justified-{{st}}" role="tabpanel">
                           <table class="table">
                              <thead>
                                <tr>
                                  <th>project</th>
                                  <th>Client</th>
                                  <th>Contact person</th>
                                  <th>Team</th>
                                  <th>Status</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody class="table-border-bottom-0">
                                {% if projects.data | length > 0 %}
                                  {% for x in projects.data %}
                                    {% if st | lower == x.status %}

                                      {% set client_info = x.client_id | get_client_info %}

                                      {% if client_info %}
                                        {% set contacts = x.client_id | get_client_project_contacts(x.contact_ids) %}
                                        
                                        {% if x.status | lower == 'pending' %}
                                        <tr>
                                          <td><strong>{{ x.name }} </strong><br><small>{{ x.postdate}}</small></td>
                                          <td><a href="#"><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ client_info.data.name }}</strong></a></td>

                                          <td>
                                            {% if contacts %}

                                              {% for c in contacts %}
                                              <a href="#">{{ c[0].name }}</a>
                                              {% endfor %}
                                            {% else %}
                                            {{ 'error fetching contact details' }}
                                            {% endif %}
                                          </td>

                                          <td>
                                            <!-- project team -->
                                            {% set prj_team = x.team_lead_id | get_project_team_details(x.team_ids) %}

                                            {% if prj_team and prj_team | length > 0 %}
                                              <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                              {% for t in prj_team %}
                                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="{{ t[0].fullname }}">
                                                  <img src="{{ url_for('static', filename='assets/img/avatars/5.png') }}" alt="Avatar" class="rounded-circle">
                                                </li>
                                              {% endfor %}
                                              </ul>
                                            {% endif %}
                                          </td>
                                          <td><span class="badge bg-label-primary me-1">{{ x.status }}</span></td>
                                          <td>
                                            <div class="dropdown">
                                              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                              <i class="bx bx-dots-vertical-rounded"></i>
                                              </button>
                                              <div class="dropdown-menu" style="">
                                                <a class="dropdown-item" href="{{ url_for('project.project_details', id=x.id) }}"><i class="bx bx-folder-open me-1"></i> Open</a>
                                                <a class="dropdown-item" href="{{ url_for('project.edit_project', id=x.id) }}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <button class="dropdown-item delete" id="delete_{{loop.index}}" data-id="{{ x.id }}"><i class="bx bx-trash me-1"></i> Delete</button>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        {% endif %}
                                      {% endif %}

                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                              </tbody>
                            </table>
                          </div>
                        {% endfor %}
                      {% endif %}
                      
                    </div>
                  </div>
                </div>
              </div>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
{% endblock %}


{% block scripts %}
  <script type="text/javascript">
    $('.delete').click(function () {
      id = $(this).attr('id')

      userid = document.getElementById(id).dataset.id
      $('#uid').val(userid)

      $('#delete_modal').modal('show')
    })
  </script>
{% endblock %}

  {% block modals %}
  <div class="modal fade" id="delete_modal" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Delete Record</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6> Are you sure to delete record?</h6>
        </div>
        <div class="modal-footer">
          <form method="post" action="{{ url_for('project.delete_project') }}">
            <input type="hidden" name="id" id="uid">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit" class="btn btn-danger">Yes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

