{% extends 'layout.html' %}
{% block content %}
<div class="content-wrapper">
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Client / Contact /</span> update contact</h4>
  <div class="row">
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Update Details</h5>
          <small class="text-muted float-end"><a href="{{ url_for('client.client_contact_list') }}"><i class="bx bx-list-ul"></i> Back to list</a></small>
        </div>
        <div class="card-body">
          <form method="post" action="{{ url_for('client.client_contact_update') }}">
            <input type="hidden" name="id" value="{{ det.data.id }}">
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-role">Company <span>*</span></label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                  <select class="form-control" required name="company">
                    <option value="0">--select company--</option>
                    {% if clients %}
                      {% for x in clients.data %}
                      {% if x.id == det.data.clientid %}
                        {% set sel = 'selected' %}
                      {% endif %}
                      <option value="{{ x.id }}" {{sel}}>{{ x.name }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-cname">Name <span>*</span></label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-cname2" class="input-group-text"><i class="bx bx-user"></i></span>
                  <input type="text" id="basic-icon-default-cname" class="form-control" placeholder="" aria-label="soyemi samuel" aria-describedby="basic-icon-default-cname2" required name="name" value="{{ det.data.name }}">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-cemail">Email <span>*</span></label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                  <input type="email" id="basic-icon-default-cemail" class="form-control" placeholder="" aria-label="" aria-describedby="basic-icon-default-cemail2" required name="email" value="{{ det.data.email }}">
                  <span id="basic-icon-default-cemail2" class="input-group-text">@example.com</span>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-cposition">Position <span>*</span></label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-cposition2" class="input-group-text"><i class="bx bxs-user-badge"></i></span>
                  <input type="text" id="basic-icon-default-cposition" class="form-control" placeholder="" aria-label="" aria-describedby="basic-icon-default-cposition2" required name="position" value="{{ det.data.position }}">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 form-label" for="basic-icon-default-cphone">Phone No <span>*</span></label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-cphone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                  <input type="text" id="basic-icon-default-cphone" class="form-control phone-mask" placeholder="" aria-label="" aria-describedby="basic-icon-default-cphone2" required name="number" value="{{ det.data.number }}">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-status">Status <span>*</span></label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-status" class="input-group-text"><i class="bx bx-cog"></i></span>
                  <select class="form-control" required name="status">
                    {% if det.data.status == 'active' %}
                      {% set sel = 'selected' %}
                    {% elif det.data.status == 'inactive' %}
                      {% set isel = 'selected' %}
                    {% endif %}
                    <option value="0">--select status--</option>
                    <option value="active" {{sel}}>Active</option>
                    <option value="inactive" {{isel}}>Inactive</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="content-backdrop fade"></div>
</div>
{% endblock %}
